.weather-data {
  height: 75vh;
  width: 65%;
  display: flex;
  flex-flow: column;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 8vh;
  background: rgba(5, 0, 74, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.styling-break {
  width: 80%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
}

.weather-icon {
  font-size: clamp(3rem, 10vw, 8rem);
  margin-bottom: 1rem;
}

.temp {
  font-size: clamp(1.5rem, 8vw, 4.5rem);
}

.weather-type,
.weather-note {
  font-size: clamp(1rem, 4vw, 2rem);
}

.precip-chance,
.humidity,
.uv-index {
  font-size: clamp(0.75rem, 3vw, 1.5rem)
}

.line-break {
  width: 75%;
  border-bottom: 1px solid white;
}

.deeper-data > h2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.roam-free::after {
  content: '✅';
  margin-left: 5px;
}

.stay-shady::after {
  content: '🧢';
  margin-left: 5px;
}

.careful::after {
  content: '🔥';
  margin-left: 5px;
}

.weather-note {
  max-width: 85%;
  text-align: center;
}

@media screen and (max-height: 50rem) {
  .weather-data {
    flex-flow: row wrap;
    column-gap: 5vh;
    row-gap: 0;
  }

  .styling-break {
    width: 45%;
  }
  
  .weather-icon {
    font-size: clamp(3rem, 12vh, 8rem);
    margin-bottom: 0;
  }

  .temp {
    font-size: clamp(2rem, 8vh, 6rem);
  }

  .weather-type,
  .weather-note {
    font-size: clamp(1.1rem, 4vh, 3rem);
  }

  .precip-chance,
  .humidity,
  .uv-index {
    font-size: clamp(0.8rem, 3vh, 1.5rem);
  }
}

@media screen and (max-width: 34rem) and (min-height: 41rem) {
  .styling-break {
    width: 80%;
  }
  
  .weather-icon {
    font-size: 4rem;
  }

  .temp {
    font-size: 2.2rem;
  }

  .weather-type,
  .weather-note {
    font-size: 1.2rem;
  }

  .precip-chance,
  .humidity,
  .uv-index {
    font-size: 1rem;
  }
}

@media screen and (max-width: 18rem) {
  .weather-icon {
    font-size: 3rem;
  }

  .temp {
    font-size: 1.75rem;
  }

  .weather-type,
  .weather-note {
    font-size: 1rem;
  }

  .precip-chance,
  .humidity,
  .uv-index {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 160rem) and (min-height: 80rem) {
  .weather-icon {
    font-size: 12rem;
  }

  .temp {
    font-size: 7rem;
  }

  .weather-type,
  .weather-note {
    font-size: 3rem;
  }

  .precip-chance,
  .humidity,
  .uv-index {
    font-size: 2.5rem;
  }
}



/* @media screen and (max-height: 50rem) and (min-width: 80rem) {
  .weather-icon {
    font-size: 4.5rem;
  }

  .temp {
    font-size: 3rem;
  }

  .weather-type,
  .weather-note {
    font-size: 1.8rem;
  }

  .precip-chance,
  .humidity,
  .uv-index {
    font-size: 1.2rem;
  }
} */


/* ---------- Icon styling ---------- */

.fa-sun {
  color: yellow;
  text-shadow: 0px 0px 10px yellow;
}

.fa-cloud {
  color: silver;
  text-shadow: 0px 0px 10px white;
}

.fa-snowflake {
  color: white;
  text-shadow: 0px 0px 10px silver;
}

.fa-cloud-rain {
  color: silver;
  text-shadow: 0px 0px 10px lightblue;
}

.fa-cloud-bolt {
  color: silver;
  text-shadow: 0px 0px 10px yellow;
}

.fa-smog {
  color: grey;
  text-shadow: 0px 0px 10px white;
}