.app-home {
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2.5rem;
}

.home-bg {
  height: 200%;
  width: 200%;
  background-image: url('../../assets/pawprint-trail.png');
  background-size: 80%;
  top: -30%;
  scale: 0.9;
  rotate: -35deg;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
}

@media screen and (max-width: 52rem) {
  .app-home {
    margin-top: 25%;
    gap: 1rem;
  }

  .home-bg {
    width: 300%;
  }
}

@media screen and (max-height: 40rem) {
  .app-home {
    margin-top: 0;
  }
}