.home-logo {
  height: 50%;
  margin-top: 5vh;
}

.city-header {
  height: 7vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-sizing: border-box;
  font-size: clamp(0.8rem, 2vw, 1.8rem);
  text-align: center;
  position: relative;
}

.city-header > img {
  height: 100%;
  left: 1%;
  position: absolute;
}

.city-header > h1 > span {
  text-transform: capitalize;
}

@media screen and (max-width: 52rem) {
  .home-logo {
    height: 40%;
  }
}
