body {
  height: 100vh;
  margin: 0;
  font-family: 'DynaPuff', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#00d3b7, #00267e);
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  overflow: hidden;
  position: relative;
}

button {
  cursor: pointer;
}