body {
  height: 100vh;
  margin: 0;
  font-family: 'DynaPuff', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#005386, #000b25);
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

button {
  cursor: pointer;
}